
img {
    border-radius: 8px;
    max-width:min-content;  
    height:500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
body{
   padding: 50px;
   text-align: center;
   font-family: Arial, Helvetica, sans-serif;
   color: black;
}
.tableau{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
html{
    background-color:#eae5db;
}
li{
    text-align: left;
    font-weight: bold;
}
.bold{
    font-weight: bold;
}